@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* @import "tailwindcss"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", serif;
}

@layer base {
  html {
    font-family: "Public Sans", system-ui, -apple-system, sans-serif;
  }
}

html,
body {
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

body {
  font-family: "Public Sans", system-ui, -apple-system, sans-serif;
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --font-display: "Public Sans", "sans-serif";
}

a {
  text-decoration: none;
  color: inherit;
}

/* Custom keyframes */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

